@charset "UTF-8";

body {
  background: white;
  color: #333;
  font-weight: 500;
}


/* 見出し関係のスタイル */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  line-height: 1.4;
  font-weight: 500;
}

h2 {
  margin: 1.8em 0 .8em;
  padding-top: .7em;
  font-size: 30px;
  letter-spacing: 1px;
}

h3 {
  margin: 2em 0 15px;
  padding: 12px 0 12px 15px;
  border-left: 1px solid #009cd5;
  font-size: 22px;
  letter-spacing: 1px;
}

h4 {
  margin: 2em 0 .8em;
  padding: 5px 0 5px 15px;
  border-left: 1px solid #009cd5;
  font-size: 20px;
}

h5 {
  margin: 0 0 .5em;
  font-weight: bold;
}


/* リンク */
a {
  text-decoration: underline;
}

a:link {
  color: #0076e0;
}

a:visited {
  color: #39f;
}

a:hover {
  text-decoration: none;
  color: #009cd5;
}


/* 画像 */
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}


/* 各要素基本マージンと文字色 */
figure,
dl,
ol,
ul,
p,
pre,
table {
  color: #333;
  margin-bottom: 1.5em;
}


/* リスト関連 */
li {
  margin-bottom: .7em;
}

dl dt {
  color: #666;
  font-size: 18px;
}

dl dd {
  margin-bottom: 1.2em;
  padding-bottom: 1.4em;
  border-bottom: 1px solid #f1f1f1;
}
dl dd:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}


/* テーブル */
table th {
  width: 25%;
  padding: 10px 35px 10px 0;
  text-align: left;
  border-bottom: 30px solid transparent;
  color: #666;
}

table td {
  padding: 10px 35px;
  border-left: 2px solid #009cd5;
  border-bottom: 30px solid white;
}

table td p,
table td ul {
  margin-bottom: 0;
}

/* 区切り線 */
hr {
  border: 0;
  height: 1px;
  width: 8%;
  margin: 80px 0 50px;
  padding: 0;
  background: rgba(153, 153, 153, 0.3);
}


/* mark em small strong */
mark {
  font-style: normal;
  background: rgba(255, 255, 0, 0.5);
}

em {
  margin: 0 3px;
  padding: 0 5px;
  background: rgba(255, 192, 203, 0.3);
  font-weight: bold;
}

small {
  font-size: 80%;
}

strong {
  font-weight: bold;
}


/* pre code figure */
pre {
  background: white;
  padding: 10px;
  line-height: 1.3;
  font-size: 14px;
  font-family: "Source Code Pro", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
  font-weight: normal;
}

pre code {
  padding: 0;
  background: none;
}

code {
  padding: 0 5px;
  background: #f8f4e6;
  font-family: "Source Code Pro", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
  font-weight: normal;
  border-radius: 2px;
}

/* figure */
figure {
  padding: 1px;
  margin-left: 0;
  margin-right: 0;
  background: #eee;
}

figure figcaption {
  margin-bottom: 1px;
  padding: 5px 15px;
  background: #eee;
  font-size: 18px;
  letter-spacing: .1em;
  text-shadow: 1px 1px 0 white;
}

figure pre {
  margin-bottom: 0;
}

figure pre+figcaption {
  margin-top: 1px;
}


/* 引用 */
blockquote {
  position: relative;
  margin-bottom: 1.5em;
  padding: 1.5em 15px 1px 60px;
  background: #fafafa;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
}

blockquote:before {
  content: "\"";
  position: absolute;
  top: -15px;
  left: 13px;
  font-size: 64px;
  color: #999;
  font-family: "Source Code Pro", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
}


cite {
  font-style: italic;
}

iframe {
  max-width: 100%;
}


/* Latele Blog で使ってるClass */
.fr,
.imgR {
  float: right;
  margin-left: 30px;
}

.fl,
.imgL {
  float: left;
  margin-top: 7px;
  margin-right: 30px;
}

.btn,
.imgC,
.tC {
  text-align: center;
}

.imgC {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.imgC,
img.imgL,
img.imgR {
  margin-bottom: 1.5em;
}

.text {
  overflow: hidden;
}

.description {
  clear: both;
  position: relative;
  margin: 0 auto 1.5em;
  padding: 2.5em 20px 1px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 0 #eee;
}

.description:before {
  content: "description";
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  padding: 1px 10px;
  border-radius: 0 0 5px 0;
  color: #333;
  font-size: 12px;
}

.note {
  clear: both;
  margin: 0 auto 1.5em;
  padding: 1.5em 20px 1px;
  background: rgba(255, 255, 0, 0.06);
  border: 2px solid rgba(255, 165, 0, 0.25);
  box-shadow: inset 0 0 25px rgba(255, 165, 0, 0.12), inset -1px -1px 0 white, inset 1px 1px 0 white;
}

.btn {
  clear: both;
  margin: 2em auto 2.5em;
  font-size: 20px;
}

.btn a {
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: inline-block;
  min-width: 55%;
  padding: 15px;
  background: #0076e0;
  color: white;
  text-decoration: none;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1), inset -1px -1px white;
}

.btn a:hover {
  background: #009cd5;
  top: 1px;
  box-shadow: 3px 2px 0 rgba(0, 0, 0, 0.1), inset -1px -1px white
}

.movie,
.video,
.youtube {
  position: relative;
  margin-bottom: 1.5em;
  padding-top: 56.25%;
}

.movie iframe,
.video iframe,
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twitter-tweet {
  margin-bottom: 1.5em !important;
}